<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Create Blog Post</h1>
    <div>
        <form action="/editPost/{{post.id}}" method="POST" >
            <label>Title: </label>
            <input required type="text" name="title" value="{{post.title}}" ><br />
            <textarea required name="content" rows="30" cols="150">{{post.body}}</textarea><br />
            <button type="submit" >Submit</button>
        </form>
        
        
    </div>
</body>
</html>