<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/login" method="post" >
        <label>User Email</label><br />
        <input required type="email" name="userEmail" ><br />

        <label>User Password</label><br />
        <input required type="password" name="userPassword" ><br />
    
        <button type="submit" >Login</button>
    </form>
    <p>{{this.error}}</p>
</body>
</html>