<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1><!--change to name's profile?-->
    <div>
        <h4>Name: {{this.name}}</h4>
        <h4>Email: {{this.email}}</h4>
    </div>

    <div>
        <a href="/edit" ><button>Edit Profile</button></a><br />
        <a href="/delete" ><button>Delete Account</button></a><br />
        <a href="/create" ><button>Create Blog Post</button></a><br />
        <a href="/userPosts" ><button>See Blog Posts</button></a><br />
    </div>

</body>
</html>